.test-color {
    background-color: lightgrey;
    padding: 10px;
    width: 190px;
    float: left;
    height: 900px;
}

.table {
    padding: 8px;
    margin: 0px;
}

.name {
    text-align: center;
}

section {}

.hide {
    display: none;
}

.hide+label~section {
    display: none;
}


/* оформл€ем текст label */

.hide+label {
    border-bottom: 1px dotted red;
    padding: 0;
    color: blue;
    cursor: pointer;
    display: inline-block;
}


/* вид текста label при активном переключателе */

.hide:checked+label {
    color: red;
    border-bottom: 0;
}


/* когда чекбокс активен показываем блоки с содержанием  */

.hide:checked+label+section {
    display: block;
    background: #cfcdcd;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px;
}


/* demo контейнер */

.demo {
    margin: 5% 10%;
}